@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Oxygen&display=swap');

:root {
	--computing: #074687;
	--shadow: #2a5a6f;
	font-size: 16px;
}

* {
	margin: auto;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

#hero {
	background-color: var(--computing);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}

#hero img {
	margin: 0;
	max-width: 55%;
	height: auto;
	object-fit: contain;
}

#hero div {
	margin: 0;
	padding: 0;
}

#hero h1 {
	font-weight: 900;
	color: white;
	font-size: 7em;
	padding: 0;
	margin: 0;
	text-shadow: var(--shadow) -0.07em 0;
	display: inline-block;
}

#greater-than {
	animation-name: pulse-left;
	animation-timing-function: ease-out;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes pulse-left {
	to {
		transform: translate(60%, 0);
	}
}

#less-than {
	animation-name: pulse-right;
	animation-timing-function: ease-out;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes pulse-right {
	to {
		transform: translate(-60%, 0);
	}
}

h1#event-title {
	margin: 0 0.5em;
}

#scenario {
}

#criteria {
}

#bonus {
}

nav {
	position: sticky;
	font-size: 1.3em;
	border-bottom: var(--shadow) 5px solid;
	top: 0;
	background-color: white;
}

nav ul {
	display: flex;
	justify-content: space-around;
	height: 3em;
	padding: 0;
	list-style-type: none;
}

nav ul a, nav {
	color: var(--computing);
    font-weight: 700;
    text-align: center;
}



a {
	text-decoration: none;
}

main > section {
	padding: 3em;
	min-height: 100vh;
	width: 80%;
	color: white;
}

main > section h1 {
	font-size: 4em;
	margin-bottom: 0.7em;
}

main {
	background-image: url("../assets/section_background.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10% 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

main p, main ul{
    font-family: 'Oxygen', sans-serif;
}



/*tablets*/
@media only screen and (max-width: 768px) {
    :root {
		font-size: 14px;
    }
    
    #hero h1 {
		font-size: 5em;
	}

	main {
		padding: 40% 0;
    }
}

/* phones */
@media only screen and (max-width: 425px) {
	:root {
		font-size: 12px;
	}

	#hero h1 {
		font-size: 3em;
	}

	main {
		padding: 40% 0;
    }
    
    #hero img {
        max-width: 65%;
    }
    nav{
        font-size: 0.8em;
    }
}